.button {
	width: 100px;
	height: 100px;
	display: inline-block;
	text-align: center;
	line-height: 100px;
	margin-left: 20px;
}

.increment1 {
	background: green;
}
.decrement {
	background: yellow;
}
.increment2 {
	background: pink;
}